<html>
<head>
	<script src="/js/angular.min.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<script src="/coba-app.js"></script>
</head>
<body ng-app="CobaApp" ng-controller="CobaController">
	<div class="container">
	<div class="jumbotron">
		<h1>Halaman Percobaan</h1>
	</div>

	Nama : <input type="text" ng-model="judul" />
	
	<br />

	Selamat datang {{ judul }}
	<br />
	<button class="btn btn-primary" ng-click="tambah()">Tambah</button>

	<br />
	<br />
	Daftar Nama :<br />
	<ul>
		<li ng-repeat="jdl in daftarJudul">
			{{ jdl }}
		</li>
	</ul>
</div>
</body>
</html>