<html>
<head>
	<title>Daftar Surat Masuk</title>

	<script src="/js/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css"/>
	<script src="/coba-app.js"></script>
</head>
<body ng-app="CobaApp">
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<h3><p style="color: #ffffff; margin-left: 500px">Aplikasi Perekaman Data Surat Masuk</p></h3>
		</div>
	</nav>
	<div class="jumbotron">
		<div class="container" align="center">
		<h1>Daftar Surat Masuk</h1>
		</div>
	</div>

	<div ng-controller="ApiController">
		<div class="container">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>No</th>
						<th>Tanggal Surat</th>
						<th>Judul</th>
						<th>Kepada</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="stm in daftarSuratmasuk">
						<td>{{stm.id}}</td>
						<td>{{stm.tgl_surat}}</td>
						<td>{{stm.judul}}</td>
						<td>{{stm.kepada}}</td>
						<td>
							<button class="btn btn-success"
							ng-click="ubah(stm)">
							Ubah
						</button>
						<button class="btn btn-danger"
						ng-click="hapus(stm)">
						Hapus
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<a class="btn btn-primary"
					href="/form">
					Tambah
				</a>
			</td>
		</tr>
	</tfoot>
</table>
</div>
</div>

</body>
</html>